body{
    font-family: Arial;
    margin: 20px;
}

.box{
    background:white;
    border-radius:10px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

label{
    display:inline-block;
    width:220px;
    font-weight:500;
    margin-bottom:5px;
}

input{
    width:200px;
    padding:5px;
    margin-bottom:8px;
}

button{
    padding:10px 20px;
    cursor:pointer;
    font-weight:bold;
}

pre{
    background:#f4f4f4;
    padding:12px;
    white-space:pre-wrap;
}

a{
    text-decoration:none;
    color:blue;
}

/* MENU */

.menu a{
    padding:8px 12px;
    text-decoration:none;
    color:black;
    border-radius:6px;
    display:inline-block;
}

.menu a.active{
    background:#0d6efd;
    color:white;
    font-weight:bold;
}

.menu a:hover{
    background:#e9ecef;
}
/* PDF Drag Drop */

/* PDF */

#drop-area{
    border:2px dashed #0d6efd;
    border-radius:10px;
    padding:30px;
    text-align:center;
    background:#f8f9fa;
    margin-bottom:15px;
}

#drop-area:hover{
    background:#eef5ff;
}

#file-list{
    margin-top:10px;
}

.pdf-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px;
    border-bottom:1px solid #ddd;
    cursor:grab;
}

.pdf-row button{
    background:#dc3545;
    color:white;
    border:none;
    border-radius:5px;
    padding:4px 10px;
    cursor:pointer;
}

.pdf-row button:hover{
    opacity:0.9;
}
.pdf-row:active{
    cursor:grabbing;
    background:#f1f1f1;
}
