<!DOCTYPE html>
<html>
<head>
    <title>Chọn quạt</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% include 'menu.html' %}

<div class="box">

    <h2>Chọn quạt theo lưu lượng</h2>

    <label>Đường kính ống chính (mm)</label>
    <input type="number" id="diameter">

    <label>Vận tốc (m/s)</label>
    <input type="number" id="velocity">

    <label>Áp suất yêu cầu (Pa)</label>
    <input type="number" id="pressure">

    <button onclick="timQuat()">
        Tìm quạt
    </button>

    <hr>

    <div id="result"></div>

</div>

<script src="{{ url_for('static', filename='chon_quat.js') }}"></script>

</body>
</html>
