<!DOCTYPE html>
<html>
<head>
    <title>Chọn quạt</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% include 'menu.html' %}

<div class="box">

    <h2>Chọn quạt theo lưu lượng</h2>
    <div class="form-group">
    <label>Loại quạt</label>

    <select id="loaiQuat">
        <option value="">
            Tất cả
        </option>

        <option value="Trực tiếp">
            Ly tâm trực tiếp
        </option>

        <option value="Gián tiếp">
            Ly tâm gián tiếp
        </option>

        <option value="Hướng trục">
            Hướng trục
        </option>
    </select>
</div>

    <div class="form-group">
        <label>Đường kính ống chính (mm)</label>
        <input type="number" id="diameter">
    </div>

    <div class="form-group">
        <label>Vận tốc (m/s)</label>
        <input type="number" id="velocity">
    </div>

    <div class="form-group">
        <label>Áp suất yêu cầu (Pa)</label>
        <input type="number" id="pressure" placeholder="Có thể không cần điền"> 
    </div>

    <button onclick="timQuat()">
        Tìm quạt
    </button>

    <hr>

    <div id="result"></div>

</div>
<script src="{{ url_for('static', filename='chon_quat.js') }}"></script>

</body>
</html>
