<!DOCTYPE html>
<html>
<head>
    <title>Tính khối lượng tấm thép</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% include 'menu.html' %}

<h2>TÍNH KHỐI LƯỢNG TẤM THÉP</h2>

<div class="box">

<form method="post">

<label>Tấm 1 mm</label>
<textarea name="tam1" rows="2">{{ form.get('tam1','') }}</textarea><br>

<label>Tấm 2 mm</label>
<textarea name="tam2" rows="2">{{ form.get('tam2','') }}</textarea><br>

<label>Tấm 3 mm</label>
<textarea name="tam3" rows="2">{{ form.get('tam3','') }}</textarea><br>

<label>Tấm 4 mm</label>
<textarea name="tam4" rows="2">{{ form.get('tam4','') }}</textarea><br>

<label>Tấm 5 mm</label>
<textarea name="tam5" rows="2">{{ form.get('tam5','') }}</textarea><br>

<label>Tấm 6 mm</label>
<textarea name="tam6" rows="2">{{ form.get('tam6','') }}</textarea><br>

<label>Tấm 8 mm</label>
<textarea name="tam8" rows="2">{{ form.get('tam8','') }}</textarea><br>
<button type="submit">
TÍNH TOÁN
</button>

</form>

</div>

{% if ket_qua is not none %}

<h3>
Tổng khối lượng: {{ ket_qua }} Kg
</h3>

{% endif %}
{% include 'footer.html' %}
</body>
</html>
